* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #055898d0;
    font-family: sans-serif;
    color: white;
}

.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 40px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-span {
    display: flex;
    padding-top: 10px;
}

.realfeel, .temperature-description {
    opacity: .8;
}

.zip {
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin-right: 5px;
}

label {
    font-size: 24px;
}

.submit {
    border-radius: 5px;
    padding: 7px;
    border: none;
    background-color: rgb(229, 16, 140);
}
